aiohttp==3.8.1
aiosignal==1.3.1
altgraph==0.17.3
anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.1.0
beautifulsoup4==4.11.1
boto3==1.24.60
botocore==1.27.60
bottle==0.12.23
certifi==2022.9.24
cffi==1.14.6
charset-normalizer==2.1.1
click==7.1.2
clickclick==20.10.2
colorama==0.4.6
commonmark==0.9.1
conan==1.55.0
configparser==3.5.0
coverage==5.4
deepdiff==5.8.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.6
dnspython==2.2.1
docker==6.0.0
docutils==0.19
ecs-logging==0.6.0
fastapi==0.67.0
fasteners==0.18
filelock==3.8.0
flake8==3.8.3
Flask==1.1.4
frozenlist==1.3.3
github==1.2.7
grpcio==1.50.0
grpcio-tools==1.50.0
h11==0.14.0
httpie==3.2.1
httpie-zign==0.2
idna==3.4
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==3.1.2
jmespath==0.10.0
macholib==1.16.2
Markdown==3.4.1
MarkupSafe==2.0.1
mccabe==0.6.1
mock==3.0.5
multidict==6.0.2
mypy-extensions==0.4.3
node-semver==0.6.1
ordered-set==4.1.0
packaging==21.3
-e git+ssh://git@github.com/YOU54F/pact-python-ffi.git@c57177bb792fdc791b82cd06b557a13f82b5dca0#egg=pact_python_ffi
patch-ng==1.17.4
pathspec==0.10.2
platformdirs==2.5.4
pluggy==0.13.1
pluginbase==1.0.1
prompt-toolkit==3.0.33
protobuf==4.21.9
psutil==5.7.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.6.0
pycparser==2.21
pydantic==1.10.2
pydocstyle==4.0.1
pyflakes==2.2.0
Pygments==2.13.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.6.0
pyparsing==3.0.9
PySocks==1.7.1
pytest==7.1.3
pytest-asyncio==0.18.3
pytest-cov==2.11.1
pytest-httpserver==1.0.1
pytest-mock==3.7.0
python-dateutil==2.8.1
PyYAML==6.0
radian==0.6.4
rchitect==0.3.39
regex==2022.10.31
requests==2.28.1
requests-toolbelt==0.10.1
rich==12.6.0
s3transfer==0.6.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
starlette==0.14.2
stups-cli-support==1.1.22
stups-tokens==1.1.19
stups-zign==1.2
tabulate==0.9.0
testcontainers==3.3.0
toml==0.10.2
tomli==1.2.3
tox==3.14.0
tox-travis==0.8
tqdm==4.64.1
typing_extensions==4.3.0
urllib3==1.26.12
uvicorn==0.14.0
virtualenv==20.16.7
wcwidth==0.2.5
websocket-client==1.4.1
Werkzeug==1.0.1
wrapt==1.14.1
yarl==1.8.1
